@import 'compass';

// Index

.survey-completed-count:hover {
  .survey-completed-details { display: block; }
}

.survey-completed-details {
  position: absolute;
  top: 0;
  left: 100%;
  background: rgba(0,0,0,.65);
  color: white;
  text-shadow: none;
  padding: .25em .5em;
  display: none;
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.completed-survey-response {
  white-space: nowrap;
  margin: 0 0 .25em;
}


// Form


$radius: 3px;

.remove_link {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  background: white;
  border-radius: 50%;
  font-size: 1.25em;
  z-index: 10;
}

.handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  line-height: 2em;
  background: whitesmoke;
  cursor: move;
  text-align: center;

  &:before { content: '\2195'; }

  &:hover {
    background: #eee;
    color: #222;
  }
}


.required:after {
  content: "* ";
  color: red;
  font-size: 1.5em;
}

.question-title-field {

  label {
    float: left;
    margin: 0 .75em 0 0;
    line-height: 2em;
  }

}

.questions_list {
  counter-reset: section;

  &.dragging .question_field:before { display: none; }
}

.question_field {
  position: relative;
  background: white;
  border: 1px solid #ddd;
  padding: 1em;
  padding-left: 3em;
  margin: 0 0 1em;
  @include border-radius($radius);

  &:before {
    counter-increment: section;
    content: counters(section, ".") " ";
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    z-index: 10;
    width: 1em;
    text-align: center;
    line-height: 1em;
    font-weight: bold;
    pointer-events: none;
  }

  &:nth-of-type(even) {
    background: #fafafa;
    border-color: #ccc;
  }

  .fields { max-width: 600px; }

  &.text_field, &.text_area_field, &.date_field, &.rank_field {
    .answers_list { display: none; }
  }

  .rank_field_min, .rank_field_max {
    display: none;
  }

  .options {
    clear: both;

    li {
      margin: 0 0 1em;

      select { margin: 0; }
    }
  }

  .question_field_handle {
    border-right: 1px solid #ddd;
    bottom: 0;

    &:before {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 2em;
      text-align: center;
      line-height: 2em;
    }
  }

}

.anwser_field {
  position: relative;
  margin: 0 0 .5em;
  padding: 0 7em 0 2em;

  input {
    width: 100%;
    margin: 0;
    @include border-radius(0);
  }

  .score {
    position: absolute;
    top: 0;
    right: 0;
    width: 7em;
    border-left-width: 0;
    @include border-radius(0 $radius $radius 0);
  }

  .answer_field_handle {
    height: 2em;
    border: 1px solid #ddd;
    border-right-width: 0;
    @include border-radius($radius 0 0 $radius);
    @include box-sizing(border-box);
  }

  &:hover .answer_field_handle {
    background: #ddd;
    border-color: #ccc;
  }
}

.question_field.rank_field {
  .rank_field_min, .rank_field_max {
    display: inline-block;
    width: 25%;
    min-width: 8em;
    max-width: 16em;
  }
}

.pie-chart {
  border-style: solid;
  border-color: #D4D6D8;
  border-width: 2px;
}

.question .graph {
  height: 200px;
}

.survey-stats {
  dt, dd { display: inline-block; }
  dt { margin: 0 .5em 0 .75em; }

  .survey-stats dd {
    font-size: 1.25em;
    font-weight: bold;
  }
}
