@import 'compass';

$radius: 3px;

.remove_link {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  background: white;
  border-radius: 50%;
  font-size: 1.25em;
  z-index: 10;
}

.handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  line-height: 2em;
  background: whitesmoke;
  cursor: move;
  text-align: center;

  &:before { content: '\2195'; }

  &:hover {
    background: #eee;
    color: #222;
  }
}


.required:after {
  content: "* ";
  color: red;
  font-size: 1.5em;
}

.question-title-field {

  label {
    float: left;
    margin: 0 .75em 0 0;
    line-height: 2em;
  }

  input { width: 70%; }
}

.question_field {
  position: relative;
  background: white;
  border: 1px solid #ddd;
  padding: 1em;
  padding-left: 3em;
  margin: 0 0 1em;
  @include border-radius($radius);

  &:nth-of-type(even) {
    background: #fafafa;
    border-color: #ccc;
  }

  .rank_field_min, .rank_field_max {
    display: none;
  }

  .options {
    clear: both;

    li {
      margin: 0 0 1em;

      select { margin: 0; }
    }
  }

  .question_field_handle {
    border-right: 1px solid #ddd;
    bottom: 0;
  }

}

.anwser_field {
  position: relative;
  margin: 0 0 .5em;
  padding: 0 7em 0 2em;

  input {
    width: 100%;
    margin: 0;
    @include border-radius(0);
  }

  .score {
    position: absolute;
    top: 0;
    right: 0;
    width: 7em;
    border-left-width: 0;
    @include border-radius(0 $radius $radius 0);
  }

  .answer_field_handle {
    height: 2em;
    border: 1px solid #ddd;
    border-right-width: 0;
    @include border-radius($radius 0 0 $radius);
    @include box-sizing(border-box);
  }

  &:hover .answer_field_handle {
    background: #ddd;
    border-color: #ccc;
  }

  &:first-child .remove_link { display: none; }
}
.question_field {
  &.rank_field, &.text_area_field, &.text_field, &.date_field {
    .answers_list { display: none; }
  }
}

.question_field.rank_field {
  .rank_field_min, .rank_field_max {
    display: inline-block;
    width: 25%;
    min-width: 8em;
    max-width: 16em;
  }
}

.pie-chart{
  border-style: solid;
  border-color: #D4D6D8;
  border-width: 2px;
}
