<!DOCTYPE html>
<html>
<head>
  <title>Surveyable</title>
  <%= stylesheet_link_tag    "surveyable/application", :media => "all" %>
  <%= javascript_include_tag "surveyable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
