- content_for :breadcrumbs do
  %li.current= link_to 'Manage Surveys', surveyable_surveys_path

%section
  %header
    %h2= "Edit #{@survey.title}"

  %article.body= render 'form'

- if @survey.has_been_answered?
  :javascript
    $("input, textarea, select", "#survey_form").attr('disabled', true)
