- content_for :breadcrumbs do
  %li.current= link_to 'Manage Surveys', surveyable_surveys_path

%section.new-survey
  %header
    %h2 New Survey

    %dl.survey-stats{ style: "display: none;" }
      %dt Questions
      %dd#no_questions
      %dt Total score
      %dd#total_score

  %article.body= render 'form'
